
.container h1 {
    color: #333;
    font-size: 29px;
    font-weight: 600;
    margin: 1rem;
  }

  .card {
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    border: none;
  }

  .card-body {
    padding: 20px;
  }

  .card-title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
  }
  .card-footer-link {
    text-align: right; /* Align the link to the right */
    margin-top: 3px; /* Provide some space between the text and the link */
  }
  .card-text {
    font-size: 16px;
    line-height: 1.5;
    color: #0a0a0a;
  }

  .btn-primary {
    background-color: #2d03ebc9;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 10px;
  }

  .btn-primary:hover {
    background-color: #0c3e46;
  }

  .btn-primary:disabled {
    background-color: #17a2b8;
    border-color: #17a2b8;
    opacity: 0.65;
  }

.img-thumbnail {
    height: 80px;
    border-radius: 0.25rem;
}

  .row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-md-8, .col-md-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .align-items-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .list-group-item {
    border: none;
    padding: 10px 20px;
  }
  .buttonSubmit{
    background-color: #0056b3;
    border: none;
    font-size: 16px;
    padding: 20px 0px;
    margin-left: -10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  

  a {
    color: #17a2b8;
    text-decoration: none;
  }

  a:hover {
    color: #138496;
  }