.navBar{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    box-shadow: 0  1px 3px -2px black;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: #776B5D;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #776B5D;
    font-size: 20px;
    font-weight: 500;
}

.nav-link {
    color: #31363F; /* Cập nhật màu sắc */
}

.nav-link:hover {
    color: #76ABAE; /* Màu sắc khi hover */
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #76ABAE;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    outline: none;
    color: white;
    background-color: #31363F; /* Tương đương với bg-green-700 */
    transition: background-color 0.2s ease-in-out;
    font-weight: 600; /* Tương đương với font-medium */
    border-radius: 3rem; /* Tương đương với rounded-lg */
    font-size: 0.875rem; /* Tương đương với text-sm */
    padding: 0.625rem 1.25rem; /* Tương đương với px-5 py-2.5 */
    margin-bottom: 0.5rem; /* Tương đương với mb-2 */
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: rgb(235, 3, 3);
    color: rgb(250, 250, 250);
}

.nav-login-cart button:hover{
    background-color: #76ABAE;
}
.nav-login-cart button:focus{
    box-shadow: 0 0 0 3px #EEEEEE;
}
.nav-menu-dropdown{
    display: none;
}


@media(max-width:1280px){
    .navBar{
        padding: 12px 50px;
    }
    .nav-logo img{
        width: 200px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
    
}
@media(max-width:1024px){
    .navBar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap: 25px;
        font-size: 16px;
    }
    .nav-login-cart button{
        width: 100px;
        height: 45px;
        font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;
    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
}
@media(max-width:800px){
    .navBar{
        padding: 10px 0px;
    }
    .nav-menu-dropdown{
        display: block;
        width: 30px;
        rotate: -90deg;
        transition: 0.5s;
    }
    .nav-menu{
        display: none;
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 85px;
    }
    .nav-menu-visible{
        display: flex;
    }
    .nav-menu-dropdown.open{
        transform: rotate(90deg);
    }
}
@media(max-width:500px) {
    .navBar{
        width: 8px 0px;
        gap: 0;
    }
    .nav-logo{
        transform: scale(0.8);
    }
    .nav-menu{
        height: 70px;
        top: 80px;
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
    
}