.ant-notification-notice {
    border-radius: 7px;
    width: fit-content;
    padding: 10px;
  }
  .notification-success {
    background-color: #00c07e;
  }
  
  .notification-error {
    background-color: #fb303e;
  }
  
  .notification-warning {
    background-color: #f5a623;
  }
  
  .notification-info {
    background-color: #5646ff;
  }
  
  .ant-notification-notice-message {
    color: white;
    font-size: 14px !important;
  }
  
  .anticon.ant-notification-notice-icon-error {
    color: white;
  }
  
  .anticon.ant-notification-notice-icon-success {
    color: white;
  }
  
  .anticon.ant-notification-notice-icon-info {
    color: white;
  }
  
  .anticon.ant-notification-notice-icon-warning {
    color: white;
  }
  
  @media only screen and (max-width: 576px) {
    .ant-notification {
      width: 100%;
    }
  }