.product{
    width: 280px;
}
.product img{
    width: 280px;
}
.product p{
    margin: 6px 0px;
}
.product-prices{
    display: flex;
    gap: 20px;
}
.product-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.product-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.product:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
@media(max-width:1280px){
    .product{
        width: 220px;
        font-size: 14px;
    }
    .product img{
        width: 220px;
    }
    .product-price-old{
        font-size: 14px;
    }
}
@media(max-width:800px){
    .product{
        width: 120px;
        font-size: 12px;
    }
    .product img{
        width: 120px;
    }
    .product-price-old{
        font-size: 12px;
    }
}
@media (max-width:500px) {
    .product{
        width: 160px;
    }
    .product img{
        width: 160px;
    }
    
}